
<div class="mb-3">
  <label for="title" class="form-label">Title</label>
  <input type="text" class="form-control" id="title" placeholder="Example input placeholder">
</div>
<div class="mb-3">
  <label for="content" class="form-label">Content</label>
  <input type="text" class="form-control" id="content" placeholder="Another input placeholder">
</div>
   <button id="create">Submit Post</button>


<script  src="./js/newPost.js"></script>