      {{#each posts as |post| }}
    <button style="background-color: grey; border: none; border-radius: 50px;">
    <a style="color: black;" href="/editpost">{{post.title}}</a>
      <p>Posted by: {{username}} on {{format_date date_created}}</p>
</button>
    {{/each}}

     <a class="navbars" href="/createPost">Create Post</a> 
    