
 <section class="blog-post">
        <div class="blog-title">
         <h3>{{title}}</h3>
        </div>
        <div class="blog-content">
         <p>{{content}}</p>
        </div>
      </section>
