
<div class="mb-3">
    <h3>Edit Post</h3>
  <label for="title" class="form-label">Title</label>
  <input type="text" class="form-control" id="edit-title" value="{{title}}">
</div>
<div class="mb-3">
  <label for="content" class="form-label">Content</label>
  <input type="text" class="form-control" id="edit-content" value="{{content}}">
</div>
   <button class="edit-post">SAVE</button>
       <button id="delete-post">DELETE</button>




<script src="../public/js/editPost.js"></script>
<script src="../public/js/deletePost.js"></script>