{{!-- {{#each users as |user| }} --}}
<div class="row align-center mb-5">
  <div class="col-md-6">
      <ul>
        <li>Home</li>
        <li>Dashboard</li>
        <button class="btn btn-primary" type="submit">login</button>
      </ul>

  </div>
</div>
{{!-- {{/each}} --}}
