{{!-- {{#each users as |user| }} --}}
<div class="row align-center mb-5">
  <div class="col-md-6">

        <button class="btn btn-primary" type="submit">Home</button>
        <button class="btn btn-primary" type="submit">Dashboard</button>
        <button class="btn btn-primary" type="submit">login</button>
  

  </div>
</div>
{{!-- {{/each}} --}}
