* {
    margin: 0;
    padding: 0;
}

.button-primary {
    border: none;
    color: white;
    font-size: 3em;
    margin: 1.5em;

}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}


h1 {
    display: flex;
    color: black;
    background-color: white;
    width: 30vh;
    height: 2em;
    margin-left: 5vh;
    border-radius: 0.5em;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 6px grey;
    border: 3px solid black;
 
}

.heading-frontpage {
background-color: black;
height: 25vh;
}

.blog-post {
margin: 3vh;
border: 1px solid black;
}

.blog-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 3em;
    padding: 1em;
}

.blog-content {
 padding: 2em;
}

.blog-title h3 {
color: white;
}

.blog-title p {
    color: lightgrey;
}

#logout {
    background-color: green;
    color: purple;
}

 
